<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='style.css' />
    <title>Document</title>
  </head>
  <style>
    /* .test{ background-color: green; } .lorem{ background-color: red; } */
  </style>
  <body style="background-color: #f4f4f4 ;" >
   
    <div class="con" style="display: grid; justify-items: center;">
      <p>{{username}} שלום </p>
      <p>      מצורפת בזו חשבונית מס קבלה מספר {{Invoicing}} .</p>
      <p>
        בברכה,
       נשים אתיופיות מעצימות,
        דוד סחרוב 19 ראשון לציון
      </p>
      
      <div  style="background:#141414;border-radius: 15px; height:15rem;width:25rem;font-family: 'Courier New', Courier, monospace;color:goldenrod;display: flex;justify-content: center;flex-direction: column;padding:1rem;"><div style="display:flex;flex-direction:row;justify-content: space-between;"><div><div><h3>  Power Card  </h3><h5>העצמת עסקים בקהילה</h5></div></div><img src="https://gcdn.pbrd.co/images/HHcr6bKs1QE7.png?o=1" height="150px" /></div><div style="display:flex;flex-direction: row;justify-content: space-around;margin-top:1rem"><div><h1>{{username}}</h1><p>7898877</p>
      </div><div>{{date}}</div></div>
    </div>
    </body>
    </html> 

