.App {
  text-align: center;

}
._access-icon .material-icons ._access {
 color: tomato;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
li{
  text-align: right;
  font-family: "Varela Round", sans-serif;
}
._access-menu.right{
  width: 10vw;
  background: #f8f7f5;
  font-family: "Varela Round", sans-serif;
}
._access-menu ul li{
  color: black !important;
}

i._access-icon{
  background-color: white !important;
  color: black !important;
  width: 65px;
  height: 45px;
  border-radius: 30px 0px 0px 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
