footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  direction: rtl;
  font-family: "Varela Round", sans-serif;
  flex-wrap: wrap;
}
.footer-header-container {
  width: 200px;
  display: flex;
  align-items: flex-end;
}
.footer-header-decortion {
  margin-left: 5px;
  width: 0;
  border: solid black;
  height: 25px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contect {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact-footer-btn {
  display: flex;
  flex-wrap: wrap;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.join-newsletter-form {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.footer-facebook {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
#footer-placeholder-icon {
  width: 20px;
}
.footer-mail {
  display: flex;
}
.footer-title {
  margin-bottom: 5px;
}

@media only screen and (max-width: 760px) {
  footer {
    margin-right: 20px;
    flex-direction: column;
  }
  .join-newsletter-form {
    flex-direction: column;
  }
  .footer-mail {
    flex-direction: column;
  }
}
