
.aboutus-wrapper {
  background-color: #f5ad88;
}
.targets-header-container {
  padding: 20px;
  display: flex;
  width: 97%;
  justify-content: flex-end;
}
.cards-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.targets-header-decoration {
  margin-left: 10px;
  width: 0;
  border: white solid;
  height: 27px;
}
.targets-title {
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  color: white;
}

.targets-container {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.target-card-list {
  list-style-type: none;
  font-size: 12px;    
  /* -----------------------------------   בני הוסיף למען תרגום חח */
}

.target-card-container-right-side {
  padding: 20px;
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.target-card-container-left-side {
  width: 90%;
  padding: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}
.buffer-staff-div {
  display: flex;
  background-color: white;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.staff-icon-buffer {
  display: flex;
  width: fit-content;
  height: 100px;
  border-radius: 100%;
}
.left-cube-staff-buffer {
  margin-top: 20px;
  background-color: #f5ad88;
  width: 100px;
  height: 25px;
}
.right-cube-staff-buffer {
  margin-top: 20px;
  background-color: #F2DAC3;
  width: 100px;
  height: 25px;
}

@media only screen and (max-width: 760px) {
  .target-card-container-right-side {
    /* justify-content: center; */
  }
  .target-card-container-left-side {
    /* justify-content: center; */
  }
}
