
.ant-badge{
  font-size: 20px;
}
.badge {
  background-color: #f8f7f5;
}
button.ant-btn.badge {
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 30px 0px 0px 30px;
  opacity: 1;
  position: fixed;
  right: 5px;
  z-index: 1;
}

/* .check{
    background-color: #f8f7f5;
} */
/* // כל הכרטיסייה */
.ant-drawer-content {
  margin-left: -18%;
  margin-top: 57%;
  overflow: hidden;
  border: none;
  height: 75%;
}
.ant-drawer-title {
  margin-left: 25%;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none;
  height: 80%;
  width: 100%;
 
}
.spin {
  text-align: center;
  margin-top: 15%;


}
.ant-spin-dot-item{
  size: 200%;
  background: black;
  
}

.drawer{
    background-color: #f8f7f5;
}
.ant-drawer * {
  border-radius: 5px;
  box-shadow: none;
}
.subtotal {
  text-align: center;
  margin: 5px;
}
.btnCart{
    color: black;
    background-color: rgb(244, 215, 192);
    width: 80px;
    height: 30px;
    margin: 2px;
    border: none;
}

.btnCart:hover{
    color: white;
}
.ant-drawer-content-wrapper{
  width: 262px !important;
  height: 75% !important;

}
