.vision-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444444;
}

.vision-card {
  display: flex;
  width: 60%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.vision-card-content {
  direction: rtl;
  line-height: 1.8;
  padding: 20px;
  background-color: #f4d7c0;
}

.vision-card-img {
  background-color: #f4d7c0;
  width: 320px;
}
img {
}
@media only screen and (max-width: 760px) {
  img {
    width: 223px;
  }
  .vision-card {
    width: 80%;
  }
}
