 .staff-wrapper {
  width: 97%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.staff-header-container {
  display: flex;
  width: 97%;
  justify-content: flex-end;
}
.cards-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.staff-header-decoration {
  width: 0;
  border: white solid;
  height: 27px;
  margin-left: 10px;
}
.staff-title {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 20px;
}
/* .staff-card {
  width: 250px;
  background-color: #f5ad88;
    background-color: #fdfce5; 
   margin-right: 20px;
  margin-top: 20px;

  border: 0;
} 

.staff-card:hover {
  background-color: #fdfce5;
} 
 

.staff-card-title {
  padding: 10px;
   display: none; 
} */

/* .staff-card:hover staff-card-title {
  display: inline;
  background-color: #fdfce5;
}  */

.staff-btn {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
}
.staff-card:hover .staff-btn {
  display: flex;
}

.staff-role-btn-container {
  display: flex;
  justify-content: center;
} 
