.vertical-card {
  width: 800px;
  height: 26rem;
  font-size: 16px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  background-color: white;
}
.vertical-card-img-container {
  height: 100%;
  width: 40%;
}
#img-card {
  padding: 10px;
  height: 100%;
  object-fit: cover;
}
.vertical-card-body {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  direction: rtl;
  padding: 20px;
}
.vertical-card-title {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 0.5rem;
  direction: rtl;
  margin-right: 5px;
}
.header-decoration {
  width: 0;
  height: 27px;
  border: solid black;
}
.vertical-card-description {
  font-family: "Varela Round", sans-serif;
  direction: rtl;
}
.header {
  display: flex;
}
@media only screen and (max-width: 760px) {
  .vertical-card {
    font-size: 12px;
    width: 22rem;
    height: 20rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .vertical-card-body {
    width: 100%;
  }

  .vertical-card-img-container {
    width: 100%;
  }
  .vertical-card-description {
    height: 60%;
    width: 100%;
  }
  #img-card {
    width: 100%;
  }
}
