.productCard {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 12px;
  text-align: right;

}
.productCard img {
  width: 280px;
  height: 180px;
}

.productImg{
width: 70px;
height: 70px;
}

.addToCart {
 margin-right: 32%;
  opacity: 1;
}
.addToCart:hover{
  color:rgb(244, 215, 192);
}
.ant-card-body{
    padding: 8px;
    width: 250px;
    margin-top: 24%;
}
.productContainer{
  background: rgb(241, 204, 185);
  margin-top: 2%;
  margin-bottom: 4%;
  box-shadow: 2px 2px 2px 2px;
}