/* .ant-modal *{
    width: 100%;
    color: black;
    background-color: #f7f2ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
.form1 {
  width: 30vw;
  border-radius: 10px;
  margin: 5px;
}
.inputOne {
  border: 2px solid black;
  text-align: center;
}
.ant-modal-title {
  color: black;
}
.input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
  width: 320px;
}
.ant-btn {
  /* background-color: #f7f2ec; */
  color: black;
  border: 2px solid #f7f2ec;
}
.ant-btn:hover {
  /* background-color: rgb(185, 185, 185);
    color: white; */
}
.input:focus {
  border-color: #e6bc98;
}

.pinput::placeholder {
  color: #aaaaaa;
}
.ant-menu-horizontal .ant-menu-item {
  margin-top: 0px;
}


#mail-icon {
  font-size: 24px;
  margin-top: 10px;
}
#mail-icon :hover{
  color:#F5AD88 ;
}
.select{
  width: 200px;
  text-align: center;
}

.contact-form{
  height: 500px;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin-left: 20%;
  /* padding: 17px; */
  
}
.contact-form h1{
  font-family: "Varela Round", sans-serif;
}

.contact >img {
  width: 40%;
  height: 80vh;
  margin-right: 8%;
}
.contact{
display: flex;
align-items: center;
justify-content: space-between;
margin: 4px;


}    
.contactDiv{
  border: 100px solid #faad80;
}

@media screen and (max-width: 750px) {
  .contact {
    display: block;
    margin-left: 25%;
  }
  .contact > img{
    display: none;
  }
}