.ant-steps {
    width: 70%;
    margin: auto;
}
.checkOutHeader{
    text-align: center;
    font-family: "Varela Round", sans-serif;
    color: rgb(211, 173, 154) ;
}
.ant-descriptions{
display: flex;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
}
.ant-steps-item-icon{
    background-color: rgb(211, 173, 154) !important;
    border: white !important;
}
.ant-steps-item-title::after{
    color: black !important;
}
.confirmHeader{
    text-align: center;
    margin-top: 2%;
}
.confirmBtn{
    color: black;
    background-color: rgb(250, 173, 128);
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 60px;
    margin-left: 46%;

}