.campaign-T {
  display: flex;
  margin-top: 44px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9e4c8;
  padding: 20px;
}

.iframe {
  width: 60%;
  height: 500px;
  margin: 0 auto;
}

.campaign-T h3 {
  cursor: pointer;
}
