.navBarLinks span {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: rgb(161, 110, 75);
  font-family: 'Varela Round', sans-serif;
  color: black;
}
.navBar {
  background-color: #f8f7f5;
  text-decoration: none;
  overflow: hidden;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}
.navBarLinks {
  height: 100px;
  background-color: #f8f7f5;
  font-size: 18px;
  padding: 7px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBarLinks :hover {
  background-color: rgb(244, 215, 192);
}
.logo {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  top: 5px;
  float: right;
}
.donationsBtn {
  border-radius: 4px solid;
  background-color: rgb(244, 215, 192);
  margin-right: 25px;
}
